.wrapper {
  padding: 135px 0 23px 0;
}

/* .form {
  float: left;
  padding-top: 5px;
  margin-right: 28px;
} */
/*=========searcbar============*/
.search_bar_block{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 318px;
}
.search_bar_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search_bar_input {
  width: 285px;
  
  height: 35px;
  padding: 0 10px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  outline: 0;
  box-shadow: none;
}

.search_bar_button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  padding: 7px 21px;
  border: 0;
  border-radius: 2px;
  background: #0089d0;
}
.form{
  position: relative;
}
/*=========city============*/
.icon {
  background-image: url('https: //resources.cdn-kaspi.kz/shop/images/small-search.png');
  width: 18px;
  height: 17px;
}

.link{
  margin-left: 13px;
}
.link:hover{
  color:black;
}
.city__link {
  color: #0089d0;
  border-bottom: 1px dashed #0089d0;
  /* position: relative; */
}
/*==========confirm =================*/
.current__location {
  color: #4a4a4a;
  font-size: 17px;
  white-space: nowrap;
}
.confirm__city {
    display: block;
    position: absolute;
    top: 71px;
    right: 214px;
    height: auto;
    z-index: 100;
    min-width: 300px;
    padding: 34px 28px;
    background: #fff;
    text-align: center;
    border: 1px solid #e5e5e5;
}

.confirm__city::before{
  content: "";
    background: #fff;
    position: absolute;
    height: 9px;
    width: 9px;
    top: -5.5px;
    right: 120px;
    transform: rotate(45deg);
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
}
.confirm__buttons{
  padding-top: 18px;
}
.confirm__button{
  background: 0 0;
  color: #f14635;
  border: 1px solid #f14635;
  min-width: 100px;
  height: 29px;
  padding: 0px 21px;
  margin: 0 1px ;
}
.confirm__button:hover{
  background-color: #f14635;
  color: #fff;
}
@media (max-width: 768px) {
  .search_bar_wrapper{
    flex-direction: column;
  }
  .link{
    display: flex;
    margin-top: 13px;
  }
  .city__link{
    margin-left: 13px;
  }
}