.wrapper {
  padding: 5.4375em 0 0.4375em 0;
  background-color: white;
}

/* .form {
  float: left;
  padding-top: 5px;
  margin-right: 28px;
} */
/*=========searcbar============*/
.search_bar_icon{
  display: inline-block;
  background: url('https://resources.cdn-kaspi.kz/shop/images/small-search.png') center center no-repeat;
  width: 30px;
  height: 30px;
}
.search_bar_block{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 19.875em;
}
.search_bar_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search_bar_input {
height: 33px !important;
  width: 468px !important;
  background: #fbfbfb;
  border-radius: 0 !important;
  padding: 0 20px 0 10px !important;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  outline: 0;
  box-shadow: none;
}

.search_bar_button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.1875em;
  border: 0;
  border-radius: 2px;
  background: #0089d0;
}
.form{
  position: relative;
}
/*=========city============*/
.icon {
  background-image: url('https: //resources.cdn-kaspi.kz/shop/images/small-search.png');
  width: 1.125em;
  height: 1.0625em;
}

.link{
  margin-left: 0.8125em;
  font-weight: bold;
}
.link:hover{
  color:black;
}
.city__link {
  color: #0089d0;
  border-bottom: 1px dashed #0089d0;
 
}
/*==========confirm =================*/
.current__location {
  color: #4a4a4a;
  font-size: 1.0625em;
  white-space: nowrap;
}
.confirm__city {
    display: block;
    position: absolute;
    top: 4.4375em;
    right: 24.75em;
    height: auto;
    z-index: 100;
    min-width: 18.75em;
    padding: 2.125em 1.75em;
    background: #fff;
    text-align: center;
    border: 1px solid #e5e5e5;
}

.confirm__city::before{
  content: "";
    background: #fff;
    position: absolute;
    height: 0.5625em;
    width: 0.5625em;
    top: -0.34375em;
    right: 7.5em;
    transform: rotate(45deg);
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
}
.confirm__buttons{
  padding-top: 18px;
}
.confirm__button{
  background: 0 0;
  color: #f14635;
  border: 1px solid #f14635;
  min-width: 6.25em;
  height: 1.8125em;
  padding: 0 1.3125em;
  margin: 0 1px ;
}
.confirm__button:hover{
  background-color: #f14635;
  color: #fff;
}
@media (max-width: 768px) {
  .wrapper{
    padding: 0;
    padding-top: 5.4375em ;
  }
  .search_bar_wrapper{
    display: flex;
    flex-direction: column;
  }
  .link{
    display: flex;
    margin-top: 0.8125em;
  }
  .city__link{
    margin-left: 0.8125em;
  }
  .confirm__city{
    position: static;
  }
}