.partner{
    margin-top: 24px;
    border-radius: 20px;
    padding: 50px 40px 82px;
    background-color: #fff;
}
.cards{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.cards .cardsItem:last-child{
    width: 50%;
    margin-left: 26px;
}
.cardsItem{
    background-color: rgba(0,0,0,.04);
    border-radius: 16px;
    max-width: 547px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 50%;
}
.heading{
    display: flex;
    justify-content: space-between;
}
.title{
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}
.description{
    margin: 16px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}
.action{
    margin-top: auto;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}
.actionLink{
    color: #0089D0;
}