.wrapper {
  padding: 1.5625em 0 5.8125em;
}
.content{
  display: flex;
}
.products__block {
  display: flex;
}

.block__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 85%;
}
