.wrapper{
    padding: 96px 0 32px 0 ;
    height: 380px;
    background-color: rgb(241, 70, 53);     
}
.img{
    max-width:290px;
    height: 283px;
}
.content{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
@media (max-width: 768px) {
    .img{
        display:none;
    }
    .wrapper{
        height: 280px;
    }
}