.wrapper{
    padding: 5em 0 2em 0 ;
    height: 23.75em;
    background-color: rgb(241, 70, 53);     
}
.img{
    max-width:18.125em;
    height: 18.730em;
}
.content{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
@media (max-width: 768px) {
    .img{
        display:none;
    }
    .wrapper{
        height: 17.5em;
    }
}