.wrapper{
  border-top: 1px solid #e5e5e5;
  padding: 30px 0 20px 0;
}
.nav{
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #fff;
  position: relative;
}
.nav__list {
  display: flex;
 
  /* display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: auto; */
  /* max-width: 960px; */
}
.nav__item {
  border-left: 1px solid #e5e5e5;
  flex: none;
  text-align: center;
  height: 63px;
  position: relative;
  display: table-cell;
}
.nav__item:first-child{
  border-left:none;
}
.nav__link {
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  text-align: left;
  line-height: 63px;
  height: 63px;
}
.nav__text {
  display: inline-block;
  padding: 0 10px;
  vertical-align: middle;
  margin-top: -3px;
  font-size: 14px;
  line-height: 1.2;
}
.items{
  display: flex;
  overflow-x: auto;
}
.items .item {
  min-width: 150px;
  height: 100px;
  background-color: #ddd;
  margin: 10px;
}
@media (max-width: 960px) {

  .nav__list {
    position: fixed;
    left: 0px;
    top: 73px;
    align-items: center;
    z-index: 3;
    background-color: white;
    height: 43px;
    display: flex;
      overflow-x: auto;
  }

}