.wrapper{
  border-top: 1px solid #e5e5e5;
  background-color: #fff;
}
.nav{
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #fff;
  position: relative;
}
.container{
  max-width:1200px;
  margin: 0 auto;
}
.nav__list {
  display: flex;
  align-items: center;
}
.nav__item {
  border-left: 1px solid #e5e5e5;
  flex: none;
  text-align: center;
  height: 3.9375em;
  padding: 1.25em 0;
  position: relative;
  display: table-cell;
  color: #0089d0;
}
.nav__item:last-child{
  border-right: 1px solid #e5e5e5;
}
.nav__link {
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  text-align: left;
  /* line-height: 63px;
  height: 63px; */
}
.nav__text {
  display: inline-block;
  padding: 0 0.625em;
  vertical-align: middle;
  margin-top: -3px;
  font-size: 0.875em;
  line-height: 1.2;
}
/* .sticky__box{
  background-color:red;
  height:30px;
  position:sticky;
  top: 73px;
  z-index: 99;
} */
@media (max-width: 960px) {

  .nav__list {
    z-index: 3;
    background-color: white;
    /* height: 30px; */
    /* padding: 10px 0; */
    display: flex;
    align-items: center;
    overflow-x: auto;
  }

  .wrapper {
    padding-top: 30px;
    position: sticky;
    top: 2.75em;
    z-index: 2;
    border-top: none;
  }

  .nav__item {
    height: 1.9375em;
    padding: 0;
  }
}