.wrapper {
    border-top: 1px solid rgba(0,0,0,.08);
    padding: 1.875em 0;

}
.section{
   text-align:center;
   display:flex;
   justify-content:center;
}
.left{
    max-width: 600px;
    font-size: 0.875em;
    color: #4A4A4A;
}
.copyright{
    font-size: 0.875em;
    color: #4A4A4A;
}
.license{
    font-weight: 400;
    line-height: 1.3125em;
}
.link{
    color: rgba(0,0,0,.4);
    text-decoration: none;
}
.link:hover{
    color: rgba(0,0,0,.4);
    text-decoration: underline;
}