.wrapper{
  margin-top: 21px;
  width: 960px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.container{
  background: #fff;
  padding: 42px;
  max-width: 960px;
  min-width: 960px;
  width: 960px;
  margin: 14px auto 0;
  border-radius: 20px;
  border: 1px solid #e5e5e5;
}
.sellers_profile_name{
  font-size: 24px;
}
.sellers_profile_date_create{
  margin-top: 14px;
}
.sellers_profile_ratings_info{
  margin-top: 7px;
}
.sellers_profile__contact{
  margin-top: 21px;
  display: flex;
  align-items: center;
}
.phone{
  margin-right: 7px;
}
.profile__image {
  position: relative;
  float: left;
  width: 16.66667%;
}
.sellers_profile__inner{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.profile__image img{
  width: 128px;
  height: 80px;
  border: 1px solid #dcdcdc;
}
.sellers_profile_descr {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  float: left;
  width: 83.33333%;
  padding-left: 10px;
  padding-right: 10px;
}