.wrapper{
  padding:95px 0 93px;
}
.card {
  margin-top: 13px;
  float: left;
  width: 240px;
  border: 1px solid #e5e5e5;
  background: #fff;
  padding: 21px 14px 0;
  margin-bottom: -1px;
  box-sizing: border-box;
  font-size: 13px;
  height:390px;
}
.imgBlock{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 211px;
  height:150px;
}
.img{
  width: 100px;
}
.card__body{
  margin: 10px 0 10px 0;
  height: 70px;
}
.card__item{
  list-style-type: none;
  border-bottom: 1px solid #e5e5e5;
}
.card__block{
  text-align: left;
  padding-left: 0;
}