.modal__cities {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.block__link {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
}

.city__link {
  color: #0089d0;
  cursor: pointer;
  list-style-type: none;
  min-width: 8.125em;

}

.active a{
  display: inline-block;
  background: #ffd300;
  padding: 0px 3px;
  color : #000;
  font-weight: 500;
}
@media (max-width: 768px) {
  .block__link {
    max-height: 15em;
    overflow-y: scroll;
  }
}