.wrapper {
    padding-top: 50px;
}

.left {
    width: 50%;
    margin-right: 12.5px;
    display: flex;
}
.right {
    width: 50%;
    margin-left: 12.5px;
}
.content{
    display: flex;
    margin-top: 50px;
}
