.container {
    width: 90%;
    margin: auto;
  }
  
  .cardsContainer {
    display: flex;
    border-radius: 6px;
    // color: #333;
    // background: #eee;
    padding: 1rem;
    // box-shadow: 0 0 1rem #000 inset;
    overflow-x: auto;
    position: relative;
    
    &::-webkit-scrollbar {
      display: none;
    }
  }
  
  .card {
    flex: 1 0 250px;
    background: #fff;
    border-radius: 100px;
    margin: 1rem;
    overflow: hidden;
    border-radius: 6px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    
    img {
      width: 250px;
      height: 250px;
      object-fit: center;
    }
    
    &:hover {
      box-shadow: 0 4px 1rem -4px #000;
      transform: translateY(-3px);
    }
  }
  .cardName{
    font-size: 13px;

  }
  .cardContent {
    padding: 1rem;
  }
  
  @media screen and (max-width: 625px) {
    .container {
      width: 100%
    }
    
    .cardsContainer {
      padding: .5rem;
    }
    
    .card {
      margin: .5rem;
    }
  }