.modal__wrapper {
  z-index: 999;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.56);
  width: 100%;
  height: 100%;
  top: 0;
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 640px;
  max-width: 100%;
  padding: 42px;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  box-sizing: border-box;
}

.modal__close {
  position: absolute !important;
  top: 10px;
  right: 10px;
}

.close__icon {
  cursor: pointer;
  font-size: 20px;
}

.modal__cities {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.block__link {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  max-height:240px;
  overflow-y: scroll;
}
.city__link {
  color: #0089d0;
  cursor: pointer;
  list-style-type: none;
  min-width:130px ;

}
.active{
  color: #ffd300;
}
@media (max-width: 768px) {
  .block__link {
    text-align:center;
    padding-left:0;
    justify-content: center;
  }
}