.wrapper{
    padding: 5.9375em 0 ;
}

.bizBlock{
    text-align: center;
    font-size: 1.4375em;
    font-weight: bold;
}
.link{
    display: block;
    width: 12.5em;
    height: 3em;
    background: #0089D0;
    border-radius: 8px;
    font-size: 1.25em;
    line-height: 3em;
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
}
 .accor{
    text-align: left;
    font-weight: normal;
    margin-top: 3.75em;
}
